<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ultimate-organizer-app: groups</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .Bd {
            border: solid 1px black;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .C\(red\) {
            color: red;
        }

        .P\(0\) {
            padding: 0;
        }

        .P\(10px\) {
            padding: 10;
        }
    </style>
</head>
<body>
<main>
    <!--/*thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}" ></h1>
    <!--/*thymesVar id="group" type="java.util.List<io.github.w7mike.model.projection.GroupReadModel>"*/-->
    <dl th:each="group : ${groups}" class="Bd P(10px)">
        <dt th:text="${group.specification}">...</dt>
        <dd>
            <ul class="P(0)">
                <li th:each="job : ${group.jobs}" th:text="|${job.specification} ${job.Deadline}|"></li>
            </ul>
        </dd>
    </dl>
    <fieldset>
        <legend>New project</legend>
        <!--/*thymesVar id="group" type="io.github.w7mike.model.projection.GroupWriteModel"*/-->
        <form action="#" method="POST" th:action="@{/groups}" th:object="${group}">
            <p class="C(red)" th:if="@{#fields.hasAnyErrors}" th:errors="*{all}"></p>
            <label> Specification
                <input type="text" th:field="*{specification}" th:errorclass="'Bdc(red)'" />
            </label>
            <fieldset th:each="step, stepStat : *{steps}">
                <legend th:text="|Step ${stepStat.index + 1}|" ></legend>
                <label> Specification
                    <input type="text" th:field="*{steps[__${stepStat.index}__].specification}" th:errorclass="'Bdc(red)'">
                </label>
                <label> Days to project end
                    <input type="number" th:field="*{steps[__${stepStat.index}__].daysToDeadline}" th:errorclass="'Bdc(red)'">
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addStep">+</button>
            </div>
            <p>
                <button type="submit">add</button>
                <button type="reset">clear</button>
            </p>
        </form>
    </fieldset>
</main>
</body>
</html>