<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ultimate-organizer-app: projects</title>
    <link rel="stylesheet" href=https://igoradamenko.github.io/awsm.css/css/awsm.min.css>
</head>
<body>
<main>
    <!--/*@thymesVar id="project" type="io.github.w7mike.model.projection.ProjectWriteModel"*/-->
    <form action="#" method="POST" th:action="@{/projects}" th:object="${project}">
        <fieldset>
            <legend>New project</legend>
            <label> Specification
                <input type="text" />
            </label>
        </fieldset>
    </form>
</main>
</body>
</html>